body[data-theme="light"] {
    --logo-text-accent: #19c1c7;
    --logo-bg-color: #fdfbfb;
  
    --bar-main-color: #eeeeee;
    --accent-color: #14aeb3;
    --sidebar-button-border: #5a5a5a;
    --sidebar-shadow-color: #18c1c7;
  
    --text-color: black;
  
    --app-data-background: #efefef;
}