.top-bar {
    background-color: #232323;
    width: 100%;
    height: var(--top-bar-height);
    margin: 0;
}

.top-bar div {
    display: inline-block;
    height: 100%;
}

.top-bar a {
    text-decoration: none;
}

.logo {
    background-color: #2d2e2e;

    width: calc(var(--sidebar-width) + 60px);
    height: 100%;
}

.logo-text-container {
    width: var(--sidebar-width);
    height: var(--top-bar-height) !important;

}
.logo-text-container * {
    display: inline-block;
}


.top-bar h2{
    text-align: center;
    font-family: Arial;
    font-weight: 900;
    font-size: 2em;
    color: #efefef;
    
}

.logo-text-container h2 {
    text-align: center;
    font-family: Arial;
    font-weight: 500;
    font-size: 2em;
    color: #efefef;
    vertical-align: super;
    margin-top: calc((var(--top-bar-height) - 1.8em + 2px )) !important;
}

.top-bar div * {
    margin-top: 0;
    margin-bottom: 0;

}

#logo-text-right {
    margin-right: 5px;
    color: #19c1c7;
}
#logo-text-left {
    margin-left: 5px;
    
}
.logo-text-container img{
    margin-left: 5px;
    vertical-align: text-bottom;
    margin-top: 5px;
    width: calc(var(--top-bar-height ) - 22px);
}

#link-breaker{
    height: 100%;
    width: 5px;
}

.username-container {
    margin-left: calc(100% - (var(--sidebar-width) + 60px) - 300px);
    vertical-align: top;
    overflow-x: hidden scroll;
    width: 300px;
    text-align: center;
    background-color: #2d2e2e;
}

.username-container .material-icons {
    display: inline;
    color: #efefef;
    margin: 0;
    font-size: 1rem;
}
.username-container h5 {
    color: #efefef;
    font-size: 1rem;
    margin-top: calc((var(--top-bar-height) / 2 - 10px )) !important;
}
.username-container u{
    color: #efefef;

}